html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #f7f9fb;
}
div.begin{
    margin-top:50px;
    padding:50px;
    font-size: 120px;
    color: white;
}
.begin .countdown{
    font-size: 600px;
    color:#31708e
}
.confetti {
    background-image: url("../images/giphy.gif");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
    font-size:50px;
    border-color: white;
    width:80%;
    background-color: #31708e;
    color:white;
}