html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #f7f9fb;
}
div#begin{
    margin-top:50px;
    padding:50px 20px 20px 20px;
    font-size: 80px;
    color: #31708e;
}
.container{
    color: #31708e;
}
.begin .countdown{
    font-size: 300px;
    color:#31708e;  
}
#main {
    min-height: 700px;
}
#main-sm{
    min-height: 50px;
    font-size: 30px;
}
#main .birthday-message, #main .adventure{
    display: none;
}
#main .adventure{
    font-size: 40px;
    color: #31708e;
}
.confetti {
    background-image: url("../images/giphy.gif");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
    font-size:40px;
    border-color: white;
    width:90%;
    background-color: #31708e;
    color:white;
}
.btn-primary:focus, .btn-primary:hover, .btn-primary:visited{
    background-color: #31708e;
    color:white;
    border-color: white;
}
form .form-control{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-right:5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    margin-top:10px;
}
.answer{
    margin-bottom: 30px;
}
.clue-container{
    display:none;
    background-image: url("../images/env.png");
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 500px;
    background-position-y: -200px;
    margin-top:50px;
}
.progress{
    margin-bottom: 30px;
    margin-top: 30px;
}
div.button-row{
    margin-top:30px;
}
#answer-button{
    width:40%;
    font-size: 30px;
    margin-right: 30px;
}
.hint-container{
    display:none;
}
#hint{
    font-size: 20px;
}
.appreciation-container{
    font-size:20px;
    display:none;
}
.btn-success{
    display:none;
}
.margin-top-30{
    margin-top:30px;
}